{% extends 'base.html' %}
{% block head_title %}Password Reset Done!{% endblock head_title %}
{% block extra_head %}
{% endblock extra_head %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xl-6 m-auto">
      <div class="card mt-5" style="width: 30rem;">
        <div class="card-body text-center">
          <h3 class="card-title">BD Online Shop</h3>
          <h5 class="card-text mt-3">Password reset complete.</h5>
          <p>
            Your password has been set. You may go ahead and log in now.
          </p>
          <a href="{% url 'account:user_login' %}" class="text-center pt-3">Log in</strong></a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}