<!--Password reset sent-->
{% extends 'base.html' %}
{% block head_title %}Password Reset Done!{% endblock head_title %}
{% block extra_head %}
{% endblock extra_head %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-xl-6 m-auto">
      <div class="card mt-5" style="width: 40rem;">
        <div class="card-body text-center">
          <h3 class="card-title">BD Online Shop</h3>
          <h5 class="card-text mt-3">Password reset sent.</h5>
          <p>
            We've emailed you instructions for setting your password, if an account exists with the email you entered.
            You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the
            address you registered with, and check your spam folder.
          </p>
          <a class="btn btn-primary btn-lg mt-3" href="https://mail.google.com/mail/u/0/?ogbl" role="button">Check Mail</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}