{% load static %}
{% load mptt_tags %}
<!-- Start category section -->
<section class="categories-slider-area bg__white">
    <div class="container">
        <div class="row">
            <!-- Start Left Feature -->
            <div class="col-md-9 col-lg-9 col-sm-8 col-xs-12 float-left-style">
                    <!-- Start Slider Area -->
                    <div class="slider__container slider--one">
                        <div class="slider__activation__wrap owl-carousel owl-theme">
                            <!-- Start Single Slide -->
                            {% for object in product %}
                            <div class="slide slider__full--screen slider-height-inherit slider-text-right" style="background: rgba(0, 0, 0, 0) url('{{ object.image.url }}') no-repeat scroll center center / cover ;">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-10 col-lg-8 col-md-offset-2 col-lg-offset-4 col-sm-12 col-xs-12">
                                            <div class="slider__inner">
                                                <h1>{{ object.title }} <br><span class="text--theme" style='color: red !important;'>{{ object.category.name }}</span></h1>
                                                <div class="slider__btn">
                                                    <a class="htc__btn" href="cart.html">shop now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- End Single Slide -->
                        </div>
                    </div>
                    <!-- Start Slider Area -->
            </div>
            <div class="col-md-3 col-lg-3 col-sm-4 col-xs-12 float-right-style">
                <div class="categories-menu mrg-xs">
                    <div class="category-heading">
                       <h3> Browse Categories</h3>
                    </div>
                    <div class="category-menu-list">
                        <ul>
                            {% recursetree category %}
                                <li><a href="#"><img alt="" src="images/icons/thum2.png">{{ node.name }}<i class="zmdi zmdi-chevron-right"></i></a>
                                    <div {% if not node.is_leaf_node %} class="category-menu-dropdown" {% endif %}>
                                        <div  class="category-part-1 category-common mb--30">
                                            {% if not node.is_leaf_node %}
                                                <ul>
                                                    <li><a href="#">{{ children | lower}}</a></li>
                                                </ul>
                                            {% endif %}
                                        </div>
                                    </div>
                                </li>
                            {% endrecursetree %}
                        </ul>
                    </div>
                </div>
            </div>
            <!-- End Left Feature -->
        </div>
    </div>
</section>
<!-- End category section -->