{% load static %}
<!-- jquery latest version -->
<script src="{% static 'js/vendor/jquery-1.12.0.min.js' %}"></script>
<!-- Bootstrap framework js -->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- All js plugins included in this file. -->
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<!-- Waypoints.min.js. -->
<script src="{% static 'js/waypoints.min.js' %}"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="{% static 'js/main.js' %}"></script>