{% extends 'base.html' %}
{% load static %}
{% block head_title %}Cart{% endblock head_title %}  
{% block extra_head %}
{% endblock extra_head %}
{% block content %}
	<!-- cart section -->
      <section class="cart-section mt-5">
          <div class="container">
              <div class="row">
                  <div class="col-xl-8">
                      <section class="cart-area">
                        <div class="card">
                          <div class="card-body">
                            <div class="card-grid-header">
                              <section class="cart-image">
                                #
                              </section>
                              <section class="cart-image">
                                image
                              </section>
                              <section>
                                price
                              </section>
                              <section>
                                Color
                              </section>
                              <section>
                                Size
                              </section>
                              <section>
                                Quantity
                              </section>
                              <section>
                                Total Price
                              </section>
                              <section>
                                Action
                              </section>
                            </div>
                            <hr>
                            {% for order_item in object.items.all %}
                            <div class="card-grid-body">
                                <section class="cart-image">
                                  {{ forloop.counter}}
                                </section>
                                <section class="cart-image">
                                  <img class="cart-product-image" src="{{ order_item.item.image.url }}" alt="">
                                </section>
                                <section>
                                  {{ order_item.item.price|floatformat:"0" }}
                                </section>
                                <section>
                                  {{ order_item.item.variant.Color }}
                                </section>
                                <section>
                                  {{ order_item.item.variant }}
                                </section>
                                <section>
                                  <a href="{% url 'order:add_to_cart' order_item.item.slug %}">+</a> {{ order_item.get_total_quantity }} <a href="{% url 'order:single_item_remove' order_item.item.slug %}">-</a>
                                </section>
                                <section>
                                  {{ order_item.get_total_item_price|floatformat:"0" }}
                                </section>
                                <section>
                                  <a href="{% url 'order:remove_from_cart' order_item.item.slug %}">Delete</a>
                                </section>
                                <div class="line"></div>
                            </div>
                            <hr class="mt-1">
                            {% endfor %}
                          </div>
                        </div>
                          <div class="card mt-3">
                              <div class="card-body d-flex justify-content-between">
                                <a href="{% url 'shop:shop_view' %}" class="btn btn-primary">Back Shop</a>
                                  <a href="{% url 'payment:checkout_view' %}" class="btn btn-primary">Checkout Prosess</a>
                              </div>
                          </div>
                      </section>
                  </div>
                  <div class="col-xl-4">
                    <ul class="list-group mb-3">
          
                      {% for obj in object.items.all %}
                        <li class="list-group-item d-flex justify-content-between lh-condensed">
                          <div>
                            <h6 class="my-0">{{ obj.quantity }} X {{ obj.item.title }}</h6>
                            <small class="text-muted">Brief description</small>
                          </div>
                          <span class="text-muted"><span class="mr-1">&#x9f3;</span>{{ obj.get_total_item_price|floatformat:"0" }}</span>
                        </li>
                      {% endfor %}
                      <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-muted">
                          <h6 class="my-0">Save Price</h6>
                          <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-muted">-<span class="mr-1">&#x9f3;</span>{{object.get_save_ammount}}</span>
                      </li>
                      <!-- <li class="list-group-item d-flex justify-content-between bg-light">
                        <div class="text-success">
                          <h6 class="my-0">Promo code</h6>
                          <small>EXAMPLECODE</small>
                        </div>
                        <span class="text-success">-$5</span>
                      </li> -->
                      <li class="list-group-item d-flex justify-content-between">
                        <span>Total (TK)</span>
                        <strong><span class="mr-1">&#x9f3;</span>{{ object.get_total_price|floatformat:"0" }}</strong>
                      </li>
                    </ul>
                  </div>
              </div>
          </div>
      </section>
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}