<!-- main html template import -->
{% extends 'base.html' %}
<!-- import media and images file -->
{% load static %}
<!-- mptt tags import -->
{% load mptt_tags %}
<!-- head title -->
{% block head_title %}order-summary{% endblock head_title %}
<!-- main content -->
{% block content %}
    <!-- Body main wrapper start -->
    <div class="wrapper fixed__footer">
        <!-- Start Bradcaump area -->
        <div class="ht__bradcaump__area" style="background: rgba(0, 0, 0, 0) url('{% static "images/bg/2.jpg" %}') no-repeat scroll center center / cover ;">
            <div class="ht__bradcaump__wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="bradcaump__inner text-center">
                                <h2 class="bradcaump-title">Cart</h2>
                                <nav class="bradcaump-inner">
                                <a class="breadcrumb-item" href="/">Home</a>
                                <span class="brd-separetor">/</span>
                                <span class="breadcrumb-item active">Cart</span>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Bradcaump area -->
        <!-- cart-main-area start -->
        <div class="cart-main-area ptb--120 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <form action="#">               
                            <div class="table-content table-responsive">
                                <table>
                                    <thead>
                                        <tr>
                                            <th class="product-thumbnail">Image</th>
                                            <th class="product-name">Product</th>
                                            <th class="product-price">Price</th>
                                            <th class="product-quantity">Quantity</th>
                                            <th class="product-subtotal">Total</th>
                                            <th class="product-remove">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        
                                        {% for order in orders.items.all %}
                                            <tr>
                                                <td class="product-thumbnail"><a href="#"><img src="{{ order.item.image.url }}" alt="product img" /></a></td>
                                                <td class="product-name"><a href="#">{{ order.item.title }}</a></td>
                                                <td class="product-price"><span class="amount">£{{ order.item.price }}<del style='font-size:10px;'>{{ order.item.discount_price }}</del></span></td>
                                                <td class="product-quantity">
                                                    <div class="btn-group" role="group" aria-label="Basic example">
                                                        <a href="{% url 'order:single_item_remove' slug=order.item.slug %}" class="btn btn-danger">-</a>
                                                        <span class="btn btn-success">{{ order.quantity }}</span>
                                                        <a href="{% url 'order:add_to_cart' slug=order.item.slug %}" class="btn btn-primary">+</a>
                                                      </div>
                                                </td>
                                                <td class="product-subtotal">£{{ order.get_item_final_ammount }}<span class="badge bg-success">save ammount {{ orders.get_save_ammount }}</span></td>
                                                <td class="product-remove"><a href="{% url 'order:remove_from_cart' slug=order.item.slug %}">X</a></td>
                                            </tr>
                                        {% endfor %}
                                            
                                    </tbody>
                                </table>
                            </div>
                            <div class="row">
                                <div class="col-md-8 col-sm-7 col-xs-12">
                                    <div class="buttons-cart">
                                        <input type="submit" value="Update Cart" />
                                        <a href="{% url 'shop:shop_view' %}">Continue Shopping</a>
                                    </div>
                                    <div class="coupon">
                                        <h3>Coupon</h3>
                                        <p>Enter your coupon code if you have one.</p>
                                        <input type="text" placeholder="Coupon code" />
                                        <input type="submit" value="Apply Coupon" />
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-5 col-xs-12">
                                    <div class="cart_totals">
                                        <h2>Cart Totals</h2>
                                        <table>
                                            <tbody>
                                                <tr class="cart-subtotal">
                                                    <th>Subtotal</th>
                                                    <td><span class="amount">${{ orders.get_total_price }}</span></td>
                                                </tr>
                                                <tr class="shipping">
                                                    <th>Shipping</th>
                                                    <td>
                                                        <ul id="shipping_method">
                                                            <li>
                                                                <label>
                                                                    Free Shipping
                                                                </label>
                                                            </li>
                                                            <li></li>
                                                        </ul>
                                                        <p><a class="shipping-calculator-button" href="#">Calculate Shipping</a></p>
                                                    </td>
                                                </tr>
                                                <tr class="order-total">
                                                    <th>Total</th>
                                                    <td>
                                                        <strong><span class="amount">${{ orders.get_total_price }}</span></strong>
                                                    </td>
                                                </tr>                                           
                                            </tbody>
                                        </table>
                                        <div class="wc-proceed-to-checkout">
                                            <a href="{% url 'payment:checkout_view' %}">Proceed to Checkout</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form> 
                    </div>
                </div>
            </div>
        </div>
        <!-- cart-main-area end -->
    </div>
    <!-- Body main wrapper end -->
{% endblock content %}