{% extends 'base.html' %}
{% load static %}
{% load best_sell_product %}
{% block head_title %}Home{% endblock head_title %}    
{% block extra_head %}
{% endblock extra_head %}
{% block content %}
<div class="container">
    <section class="top-selling-product mt-5">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                    aria-selected="true">Top Sell product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
                    aria-controls="profile" aria-selected="false">Featured Product</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab"
                    aria-controls="contact" aria-selected="false">On Sale</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <!-- top selling product -->
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    
                    {% for top_product in top_selling_product %}
                        <div class="col-xl-3">
                            <div class="card mt-3">
                                <img src="{{ top_product.image.url }}" alt="">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <section>
                                        <a class="product-title" href="{{ top_product.get_absolute_url }}">{{ top_product.title }}</a>
                                    </section>
                                    <section class="text-center ml-3 f-left">
                                        ${{ top_product.price }} <del>160</del>
                                    </section>
                                    <section>
										<div class="btn btn-group">
											<a class="btn btn-primary"><i class="fas fa-shopping-cart"></i></a>
											<a class="btn btn-primary"><i class="far fa-heart"></i></a>
										</div>
									</section>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        
                </div>
            </div>
            <!-- Featured product -->
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row">
                    
                    {% for featured_item in featured_product %}
                        <div class="col-xl-3">
                            <div class="card mt-3">
                                <img src="{{ featured_item.image.url }}" alt="">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <section>
                                        <a class="product-title" href="{{ featured_item.get_absolute_url }}">{{ featured_item.title }}</a>
                                    </section>
                                    <section class="text-center ml-3 f-left">
                                        ${{ featured_item.price }} <del>160</del>
                                    </section>
                                    <section>
										<div class="btn btn-group">
											<a class="btn btn-primary"><i class="fas fa-shopping-cart"></i></a>
											<a class="btn btn-primary"><i class="far fa-heart"></i></a>
										</div>
									</section>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        
                </div>
            </div>
            <!-- On Sale product -->
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <div class="row">
                    
                    {% for on_sale_item in on_sale_product %}
                        <div class="col-xl-3">
                            <div class="card mt-3">
                                <img src="{{ on_sale_item.image.url }}" alt="">
                                <div class="card-body d-flex flex-column justify-content-center align-items-center">
                                    <section>
                                        <a class="product-title" href="{{ on_sale_item.get_absolute_url }}" class="text-center">{{ on_sale_item.title }}</a>
                                    </section>
                                    <section class="text-center ml-3 f-left">
                                        ${{ on_sale_item.price }} <del>160</del>
                                    </section>
                                    <section>
										<div class="btn btn-group">
											<a class="btn btn-primary"><i class="fas fa-shopping-cart"></i></a>
											<a class="btn btn-primary"><i class="far fa-heart"></i></a>
										</div>
									</section>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                        
                </div>
            </div>
        </div>
    </section>
    <div class="card p-3 mt-3">
        || Popular Category
    </div>
    <div class="row">
        
        {% for popular_category_item in popular_category %}
            <div class="col-xl-4">
                <div class="card mt-3">
                    <div class="card-body d-flex justify-content-between">
                        <section class="d-flex flex-column justify-contetn-start">
                            <a class="category-title" href="{{ popular_category_item.get_category_absolute_url }}">
                            
                                {% if popular_category_item.parent %}
                                    {{popular_category_item.parent.name}}/{{ popular_category_item.name }}
                                {% else %}
                                    {{ popular_category_item.name }}
                                {% endif %}
                            </a>
                            <section class="d-flex justify-contetn-start">
                                <span class="badge badge-dark">{{popular_category_item.get_total_product}}</span>
                            </section>
                        </section>
                        <section class="d-flex justify-contetn-end">
                            <img class="popular-category-image" src="{{ popular_category_item.image.url }}" alt="">
                        </section>
                    </div>
                </div>
            </div>
        {% endfor %}
            
    </div>
    <!-- recently viewed product -->
    {% include 'recently_viewed.html' %}
</div>
{% endblock content %}
{% block extra_javascript %}
{% endblock extra_javascript %}