<!-- main html template import -->
{% extends 'base.html' %}
<!-- import media and images file -->
{% load static %}
{% load product_category_tags %}
<!-- mptt tags import -->
{% load mptt_tags %}
<!-- head title -->
{% block head_title %}Shop{% endblock head_title %}
<!-- Extra head -->
{% block extra_head %}
<style>
	.sidebar li .submenu {
		list-style: none;
		margin: 0;
		padding: 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}
</style>
{% endblock extra_head %}
<!-- main content -->
{% block content %}
<div class="container">
	<div class="card p-3 mt-3 d-flex flex-row">
		<a href="/">Home </a> | <a href="{% url 'shop:shop_view' %}"> Shop</a>
	</div>
	<div class="row mt-3">
		<div class="col-xl-3">
			<section class="shop-site-nav">
				<nav class="sidebar card py-2 mb-4">
					<ul class="nav flex-column" id="nav_accordion">
						{% category_tags as category %}
						{% recursetree category %}
						<li class="nav-item has-submenu">
							<a class="nav-link" href="{% url 'category:category_list' node.slug %}">{{ node.name }}{% if not node.is_leaf_node %} <i class="fas fa-chevron-down ml-3"></i>{% endif %}</a>
							{% if not node.is_leaf_node %}
							<ul class="submenu collapse">
								{{ children }}
							</ul>
							{% endif %}
						</li>
						{% endrecursetree %}
					</ul>
				</nav>
			</section>
		</div>
		<div class="col-xl-9">
			<div class="row">
				{% for object in object_list %}
				<div class="col-xl-4">
					<section class="shop_section">
						<div class="card">
							<img class="shop_image" src="{{ object.image.url }}" alt="">
							<div class="card-body d-flex flex-column justify-content-center align-items-center">
								<section>
									<a href="{{ object.get_absolute_url }}" class="product-title"
										class="text-center">{{ object.title }}</a>
								</section>
								<section>
									<span class="mr-1">&#x9f3;</span>{{ object.price|floatformat:"0" }}<del>160</del>
								</section>
								<section>
									<div class="btn btn-group">
										<a href="{% url 'order:add_to_cart' object.slug %}" class="btn btn-primary"><i
												class="fas fa-shopping-cart"></i></a>
										<a href="{% url 'wishlist:wishlist_add_view' object.slug %}"
											class="btn btn-primary"><i class="far fa-heart"></i></a>
									</div>
								</section>
							</div>
						</div>
					</section>
				</div>
				{% endfor %}

			</div>
		</div>
	</div>
</div>
{% endblock content %}
{% block extra_javascript %}
<script>
	document.addEventListener("DOMContentLoaded", function () {
		document.querySelectorAll('.sidebar .nav-link').forEach(function (element) {

			element.addEventListener('click', function (e) {

				let nextEl = element.nextElementSibling;
				let parentEl = element.parentElement;

				if (nextEl) {
					e.preventDefault();
					let mycollapse = new bootstrap.Collapse(nextEl);

					if (nextEl.classList.contains('show')) {
						mycollapse.hide();
					} else {
						mycollapse.show();
						// find other submenus with class=show
						var opened_submenu = parentEl.parentElement.querySelector('.submenu.show');
						// if it exists, then close all of them
						if (opened_submenu) {
							new bootstrap.Collapse(opened_submenu);
						}
					}
				}
			}); // addEventListener
		}) // forEach
	});
	// DOMContentLoaded  end
</script>
{% endblock extra_javascript %}