{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    {% include 'snippets/css.html' %}

    <title>Online Shop | {% block head_title %}{% endblock head_title %}</title>
    <style>
        /* error halde */
        .error-handle{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
    </style>
  </head>
  <body>
  <main class="container">
    {% block content %}
			
	{% endblock content %}
  </main>
  {% include 'snippets/js.html' %}
  </body>
</html>