{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<title>OneTech</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="OneTech shop project">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% include 'snippets/css.html' %}

</head>

<body>

	<div class="super_container">

		<!-- Start Header -->
		{% include 'snippets/header.html' %}
		<!-- end Header -->

		<!-- start main -->
		
		{% block content %}
			
		{% endblock content %}
			
		<!-- end main -->

		<!-- start Footer -->
		{% include 'snippets/footer.html' %}
		<!-- / end footer -->
	</div>
	{% include 'snippets/js.html' %}
</body>

</html>