	{% load shop_template_tags %}
	{% recent_product_tag as recent_product %}
	<div class="card p-3 mt-3">
		<h4 class="m-0">|| Recently viewed</h4>
	</div>
	<div class="row">
		{% for product in recent_product %}
		<div class="col-xl-3">
			<section class="recent_view_section">
				<div class="card mt-3">
					<img class="recent_view_image" src="{{ product.image.url }}" alt="">
					<div class="card-body d-flex flex-column justify-content-center align-items-center">
						<section>
							<a class="product-title" href="{{ product.get_absolute_url }}">{{ product.title }}</a>
						</section>
						<section class="text-center ml-3 f-left">
							<span class="mr-1">&#x9f3;</span>{{ product.price|floatformat:"0" }}<del>160</del>
						</section>
						<section>
							<div class="btn btn-group">
								<a href="{% url 'order:add_to_cart' product.slug %}" class="btn btn-primary"><i class="fas fa-shopping-cart"></i></a>
								<a href="{% url 'wishlist:wishlist_add_view' product.slug %}" class="btn btn-primary"><i class="far fa-heart"></i></a>
							</div>
						</section>
					</div>
				</div>
			</section>
		</div>
		{% endfor %}
	</div>