*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.f-left{
    float: left;
}
.f-right{
    float: right;
}
a{
    text-decoration: none !important;
    background-color: transparent;
    
}
/* product */
.product-title{
    font-size: 1.25rem;
    color: rgba(0, 0, 0, .7) !important;
}
/* header */
.dropdown-profile-image{
    height: 2rem;
    width: 2rem;
}

/* single product */
.main-image{
    height: 100%;
    width: 100%;
}
.sub-image{
    height: 100%;
    width: 100%;
}
/* popular category */
.category-title{
    font-size: 1.25rem;
}
.popular-category-image{
    height: 80px;
    width: 100px;
}
/* shop section */
.shop_section .shop_image{
    height: 100%;
    width: 100%;
}
/* Recent view section */
.recent_view_section .recent_view_image {
    height: 100%;
    width: 100%;
}
/* .recent_view_section .recent_view_image {
    height: 298px;
    width: 100%;
} */

/* cart wrapper */
.card-grid-header{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    align-items: center;
    text-align: center;
    justify-content: center;
}
.card-grid-body{
display: grid;
grid-template-columns: repeat(8, 1fr);
text-align: center;
align-items: center;
justify-content: center;
}
.cart-product-image{
    height: 60px;
    width: 70px;
}

/* alertyfy background and color change css */
.ajs-message{
    color: #31708f; 
    background-color: #d9edf7;
    border-color: #31708f;
}